/* Grid System */
@media (max-width: 543px) {
  .row {
    display: initial; } }
@media (min-width: 544px) and (max-width: 767px) {
  .row {
    display: initial; } }
@media (min-width: 768px) and (max-width: 991px) {
  .row {
    display: initial; } }

.column-1 {
  width: 8.33%;
  float: left; }
  @media (max-width: 543px) {
    .column-1 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-1 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-1 {
      width: 100%; } }

.column-2 {
  width: 16.66%;
  float: left; }
  @media (max-width: 543px) {
    .column-2 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-2 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-2 {
      width: 100%; } }

.column-3 {
  width: 33.33%;
  float: left; }
  @media (max-width: 543px) {
    .column-3 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-3 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-3 {
      width: 100%; } }

.column-4 {
  width: 33.33%;
  float: left; }
  @media (max-width: 543px) {
    .column-4 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-4 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-4 {
      width: 100%; } }

.column-5 {
  width: 41.66%;
  float: left; }
  @media (max-width: 543px) {
    .column-5 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-5 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-5 {
      width: 100%; } }

.column-6 {
  width: 50%;
  float: left; }
  @media (max-width: 543px) {
    .column-6 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-6 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-6 {
      width: 100%; } }

.column-7 {
  width: 58.33%;
  float: left; }
  @media (max-width: 543px) {
    .column-7 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-7 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-7 {
      width: 100%; } }

.column-8 {
  width: 66.66%;
  float: left; }
  @media (max-width: 543px) {
    .column-8 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-8 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-8 {
      width: 100%; } }

.column-10 {
  width: 83.33%;
  float: left; }
  @media (max-width: 543px) {
    .column-10 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-10 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-10 {
      width: 100%; } }

.column-11 {
  width: 91.66%;
  float: left; }
  @media (max-width: 543px) {
    .column-11 {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .column-11 {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .column-11 {
      width: 100%; } }

.column-12 {
  width: 100%;
  float: left; }

.container {
  width: 100%; }
  .container * {
    box-sizing: border-box; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Utilities */
/* NOTE: Always flexes content horizontally */
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

/*# sourceMappingURL=fcs_grid.css.map */
